@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300");
/* Media Queries: Tablet Landscape */
@media screen and (max-width: 600px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

/* Base Styles
********************************************************************* */
html {
	font-size: 62.5%;
}
body {
	font-size: 1.5em;
	line-height: 1.6;
	font-weight: 400;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: white;
}

img {
	max-width: 100%;
	height: auto;
}

body::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	background-image: linear-gradient(
		115deg,
		rgba(58, 98, 158, 0.9),
		rgba(6, 96, 6, 0.5)
	  ),
	  url('oro\ TM.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
  }

  .menu-mobile {
    position: relative;
    text-align: right;
    width: 100%;
    z-index: 2;
}
  
.menu-mobile a{
font-size: 17px;
display: block;
  }

.menu-mobile ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.menu-mobile ul a {
    display: block;
    background: #0d1317;
    padding: 0 20px;
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ad343e;

}


.menu-mobile ul a:hover {
    background: #474747;
    color: #e0e0ce;
    padding-left: 30px;
    transition: color 2s ease,background 2s ease,padding 2s ease;
}

header > .wrapper > :first-child {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 20%;
    flex: 1 0 20%;
}

.menu-mobile-toggle {
    display: block;
    text-align: center;
    width: calc(6px * 4);
    height: calc(6px * 2.6);
    right: 20px;
    position: absolute;
    z-index: 3;
}
.dropdown-backdrop {
    position: static;
}

/* Footer Section
********************************************************************* */
footer {
	min-height: 120px;
	padding: 40px 0 40px 0;
	background: #e55d87;
	background: -moz-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
	background: -webkit-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
	background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e55d87', endColorstr='#5fc3e4', GradientType=1 );
	box-sizing: border-box;
}
footer p {
	color: #FFFFFF;
	margin: 20px 0 0 0;
}

.menu-mobile.active {
	visibility:visible;
	width:100%;
	-webkit-transition:all .8s ease-out;
	transition:all .8s ease-out
   }
