@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300");
/* Media Queries: Tablet Landscape */
@media screen and (max-width: 600px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}



body {
	font-size: 1.5em;
	line-height: 1.6;
	font-weight: 400;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: white;
}


body::before { 
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	background-image: linear-gradient(
		115deg,
		rgba(58, 98, 158, 0.9),
		rgba(6, 96, 6, 0.5)
	  ),
	  url('oro\ TM.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
  }
  @media screen and (min-width:800px) {
  .menu-mobile {
	position:relative;
	text-align:right;
	width:100%;
	z-index:2
   }
  
   @media screen and (max-width:800px) {
.menu-mobile>* {
	opacity:0;
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	-webkit-transition:all .8s ease-out;
	transition:all .8s ease-out
   }
   @media screen and (max-width:800px) { 
.menu-mobile.active {
	visibility:visible;
	width:100%;
	-webkit-transition:all .8s ease-out;
	transition:all .8s ease-out
   }
  
   @media screen and (max-width:800px) {
.menu-mobile.active * {
	opacity:1;
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	-webkit-transition:all .3s ease;
	transition:all .3s ease
   }
  
 @media screen and (max-width:800px) {
.menu-mobile a{
font-size: 17px;
display: block;
  }
  @media screen and (max-width:800px) {
.menu-mobile ul {
	list-style-type: none;
    position: absolute;
    display: none;
}

@media screen and (min-width:800px) {
.menu-mobile ul a {
	display: block;
    background: #0d1317;
    padding: 20px;
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
	color: #ad343e;
	visibility:visible;
}

header > .wrapper > :first-child {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 20%;
    flex: 1 0 20%;
}
@media screen and (max-width:800px) {
.menu-mobile-toggle {
    display: block;
    text-align: center;
    width: calc(6px * 4);
    height: calc(6px * 2.6);
    right: 20px;
    position: absolute;
    z-index: 3;
}
.dropdown-backdrop {
    position: static;
}

/* Footer Section
********************************************************************* */
footer {
	min-height: 120px;
	padding: 40px 0 40px 0;
	background: #e55d87;
	background: -moz-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
	background: -webkit-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
	background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e55d87', endColorstr='#5fc3e4', GradientType=1 );
	box-sizing: border-box;
}
footer p {
	color: #FFFFFF;
	margin: 20px 0 0 0;
}

  @media screen and (max-width:800px) {
  #amp.amp-search {
	width:32px;
	height:32px
   }
   @media screen and (min-width:800px) {
	#amp.amp-search {
	 top:10px;
	 right:-8px
	}
   }
   @media screen and (max-width:800px) {
	#amp.amp-search {
	 right:54px
	}
}
   #amp.amp-search:checked~.search {
	display:block
  }

  form{
	  width: 500px;
	  position: relative;
	  margin: 15px auto;
  }
  input, textarea, button{
	  font-size: 16px;
	  border-radius: 0px;
	  border: 1px solid var(--font-color);
	  margin: 0px;
	  width: 470px;
	  padding: 5px 20px;
  }
input::placeholder, textarea::placeholder, #submit{
	text-transform: uppercase;
	font-size: 13px;
	color: var(--secondary-color--);
}
input{
	border-bottom: none;
	height: 40px;
}
textarea{
	resize: none;
	height: 100px;
	padding-top: 20px;
}
input:hover, textarea:hover{
	background-color: var(--font-color--);
	color: var(--primary-color--);
}
input:hover::placeholder, 
textarea:hover::placeholder{
	color: white;
}
.submit {
	display: inline-block;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 8px 48px;
	margin-top: 32px;
	border: 2px solid #75759E;
	border-radius: 20px;
	cursor: pointer;
	transition: all ease .2s;
	background-color: red;
	
}

