@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300");
/* Media Queries: Tablet Landscape */
@media screen and (max-width: 600px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

/* Base Styles
********************************************************************* */
html {
	font-size: 62.5%;
}
body {
	font-size: 1.5em;
	line-height: 1.6;
	font-weight: 400;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: white;
}

img {
	max-width: 100%;
	height: auto;
}

body::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	background-image: linear-gradient(
		115deg,
		rgba(58, 98, 158, 0.9),
		rgba(6, 96, 6, 0.5)
	  ),
	  url('oro\ TM.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
  }
  @media screen and (min-width:800px) {
  .menu-mobile {
	position:relative;
	text-align:right;
	width:100%;
	z-index:2
   }
  
   @media screen and (max-width:800px) {
.menu-mobile>* {
	opacity:0;
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	-webkit-transition:all .8s ease-out;
	transition:all .8s ease-out
   }
   @media screen and (max-width:800px) { 
.menu-mobile.active {
	visibility:visible;
	width:100%;
	-webkit-transition:all .8s ease-out;
	transition:all .8s ease-out
   }
  
   @media screen and (max-width:800px) {
.menu-mobile.active * {
	opacity:1;
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	-webkit-transition:all .3s ease;
	transition:all .3s ease
   }
  
 @media screen and (max-width:800px) {
.menu-mobile a{
font-size: 17px;
display: block;
  }
  @media screen and (max-width:800px) {
.menu-mobile ul {
	list-style-type: none;
    position: absolute;
    display: none;
}

@media screen and (min-width:800px) {
.menu-mobile ul a {
	display: block;
    background: #0d1317;
    padding: 20px;
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
	color: #ad343e;
	visibility:visible;
}

header > .wrapper > :first-child {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 20%;
    flex: 1 0 20%;
}
@media screen and (max-width:800px) {
.menu-mobile-toggle {
    display: block;
    text-align: center;
    width: calc(6px * 4);
    height: calc(6px * 2.6);
    right: 20px;
    position: absolute;
    z-index: 3;
}
.dropdown-backdrop {
    position: static;
}

/* Footer Section
********************************************************************* */
footer {
	min-height: 120px;
	padding: 40px 0 40px 0;
	background: #e55d87;
	background: -moz-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
	background: -webkit-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
	background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e55d87', endColorstr='#5fc3e4', GradientType=1 );
	box-sizing: border-box;
}
footer p {
	color: #FFFFFF;
	margin: 20px 0 0 0;
}

  @media screen and (max-width:800px) {
  #amp.amp-search {
	width:32px;
	height:32px
   }
   @media screen and (min-width:800px) {
	#amp.amp-search {
	 top:10px;
	 right:-8px
	}
   }
   @media screen and (max-width:800px) {
	#amp.amp-search {
	 right:54px
	}
}
   #amp.amp-search:checked~.search {
	display:block
   }
   #form-main{
	width:100%;
	float:left;
	padding-top:0px;
}

#form-div {
	background-color:rgba(231, 76, 60,0.9);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:10%;
	margin-left: -20%;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#0493bd;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	border-radius: 0;
	vertical-align: middle;
	background-color: #ecf0f1;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid #bdc3c7;
}

.feedback-input:focus{
	background: #ecf0f1;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://wpplus.me/wp-content/uploads/2013/08/head-32x32.png);
	background-size: 32px 32px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://wpplus.me/wp-content/uploads/2013/08/head-32x32.png);
	background-size: 32px 32px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://wpplus.me/wp-content/uploads/2013/08/envelope-32x32.png);
	background-size: 32px 32px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://wpplus.me/wp-content/uploads/2013/08/envelope-32x32.png);
	background-size: 32px 32px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://wpplus.me/wp-content/uploads/2013/08/pencil-32x32.png);
	background-size: 32px 32px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
	width: 100%;
	height: 150px;
	line-height: 150%;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-bottom{
	font-family: webfontbold, Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: rgba(9,179,116,0.9);
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
}

#button-bottom:hover{
	background-color: rgba(230, 126, 34,0.9);
	color: rgba(52, 73, 94,0.9);
}
	
.submit:hover{
	color: rgba(149, 165, 166,0.9);
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}
